* {
    box-sizing: border-box;
}

.parent {

    margin: 20px auto;
    background-color: #eee;
    width: 800px;
    height: 500px;
    padding: 20px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 100px 100px 100px 100px;
    /* row-gap: 10px;
    column-gap: 15px; */
    gap: 10px 15px;
    /* transform: scale3d(2, 4, 4); */



}

.parent div {
    background-color: green;
    color: black;

    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;

}